.map{
    position: absolute;
    z-index: -1;
}
.login {
    position:
    display: inline-block;
    z-index: 1;
    float: right;
}

.button{
    position: inherit;
    display: inline-block;
    margin: 20px;
}

.nav{
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 80px;

}
