.map{
    position: absolute;
    z-index: -1;
}
.login {
    position:
    display: inline-block;
    z-index: 1;
    float: right;
}

.button{
    position: inherit;
    display: inline-block;
    margin: 20px;
}

.nav{
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 80px;

}

.info-window {
    background: rgba(255, 255, 255, 0.98);
    max-width: 370px;
    max-height: 400px;
    overflow: scroll;
    padding: 10px;
    cursor: default;
}

.hidden {
    display: none;
}

.info-window img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

#closeInfoWindow {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: blue;
}
